@page
@model MusicShare.Pages.Generi.EditModel

@{
    ViewData["Title"] = "Modifica";
}

<h1>Modifica</h1>

<h4>Genere</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Genere.Id" />
            <div class="form-group">
                <label asp-for="Genere.Nome" class="control-label"></label>
                <input asp-for="Genere.Nome" class="form-control" />
                <span asp-validation-for="Genere.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-info" asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
