@page
@model MusicShare.Pages.Canzoni.CreateModel

@{
    ViewData["Title"] = "Create";

    string ErrorFileMessage = "Il file è troppo grande";
    string ErrorExstensionMessage = "Puoi caricare solamente file con queste estensioni (mp3, wav, 3gp e ogg)";
}

<h1>Carica</h1>

<h4>Canzone</h4>

<h4>Puoi caricare file con dimensione massima di 10 Megabyte</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Canzone.Titolo" class="control-label"></label>
                <input asp-for="Canzone.Titolo" class="form-control" />
                <span asp-validation-for="Canzone.Titolo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Canzone.Autore" class="control-label"></label>
                <input asp-for="Canzone.Autore" class="form-control" />
                <span asp-validation-for="Canzone.Autore" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="MusicFile"></label>
                <input asp-for="MusicFile" type="file" />
                <span asp-validation-for="MusicFile"></span>
            </div>
                    
            <div class="form-group">
                <label asp-for="Canzone.Genere" class="control-label"></label>
                <select asp-for="Canzone.Id_Genere" class="form-control" asp-items="ViewBag.Id_Genere"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Carica" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if (Model.ErrorFile)
{
    <div id="error-load-file" class="alert alert-danger" style="margin-top:20px">
        @ErrorFileMessage
    </div>
}

@if (Model.ErrorExstensionFile)
{
    <div id="error-load-file" class="alert alert-danger" style="margin-top:20px">
        @ErrorExstensionMessage
    </div>
}

<div>
    <a asp-page="Index">Torna alla lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
