@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Music Share</h1>
    <p>Una semplice Webapp per condividere e ascoltare tracce musicali</p>
</div>
