@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Music Share</h1>
    <h2>Una webapp per condividere, ascoltare e scaricare musica</h2>
    <hr />
    <div align="center">
        <a asp-page="Canzoni/Index">
            <img srcset="https://cdn.pixabay.com/photo/2012/04/10/22/39/folder-26700_960_720.png 1x, https://cdn.pixabay.com/photo/2012/04/10/22/39/folder-26700_1280.png 1.333x" src="https://cdn.pixabay.com/photo/2012/04/10/22/39/folder-26700_960_720.png" width="150" height="150" />
        </a>
    </div>
</div>
