@page
@model MusicShare.Pages.Raccolte.DeleteModel

@{
    ViewData["Title"] = "Elimina";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questa raccolta</h3>
<div>
    <h4>Raccolta</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raccolta.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raccolta.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Raccolta.Data_Creazione)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Raccolta.Data_Creazione)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Raccolta.Id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-page="./Index">Torna alle raccolte</a>
    </form>
</div>
